<!DOCTYPE html>

{% extends 'users/base.html' %}
{% block body_block %}

<div class="container">

    <h1> Your Orders</h1><br>
    {% if orders %}

    {% for order in orders%}
        <div class="card" style="width: 18rem ">

          <div class="card-body">

                <h3 class="card-title">{{order.mobile}}</h3>
                <p class="card-text">Quantity:{{order.quantity}}</p>
                <p class="card-text">Status  :{{order.status}}</p>
                <a href="{%url 'deleteOrder' order.id%}" class="btn btn-danger">Cancel Order</a>
                <a href="{%url 'viewCartItem' order.id %}" class="btn btn-primary">Item Details</a>
          </div>

        </div><br>
            {% endfor %}
            {% else %}
            <h3>Your cart is empty</h3>
            {% endif %}
</div>

{% endblock %}