<!DOCTYPE html>
{% extends 'users/base.html' %}
{% block body_block %}

    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="{{mobile.image.url}}" style="width:500px;height:600px;">
            </div>
            <div class="col-6">

                <h1>{{mobile.mob_name}}</h1><br><br>
                <h3>Brand:{{mobile.brand}}</h3>
                <h3>Ram:{{mobile.ram}}</h3>
                <h3>internal:{{mobile.internal}}</h3>
                <h3>color:{{mobile.color}}</h3>
                <h3>screensize:{{mobile.screensize}}</h3>
                <h3>processor:{{mobile.processor}}</h3>
                <h3>price:{{mobile.price}}</h3>
                <a href="{%url 'ordermobile' mobile.id%}" class="btn btn-danger">Buy Now</a>

            </div>
        </div>
    </div>

{% endblock %}

