<html>

<head>
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
    <h1>Employee LOG IN  Page :)</h1>
    <div class="container">
        <div class="jumbotron">
            <form method="post" action="{% url 'emp_login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">username</label>
                    <input type="text" name="email" id="x" class="form-control">
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" name="pwd" id="y" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="bootstrap_2.html">new user? Register now</a>
                </div>

            </form>
      </div>
    </div>
</body>

</html>