<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <link rel="stylesheet" href="username_css.css">
</head>
<body>
<div id="login">
<form>
    <h1>Login</h1>
    <label for="uname">username</label><input type="text" id="uname">
    <br><br>
    <label for="pwd">password</label><input type="password" id="pwd"><br>
    <br>
    <input type="submit" value="create account">
    <a href="http://localhost:63342/Python_Django/Language%20fundamentals/html_progs/Regist.html?_ijt=26kl3bjghfc4l1ps1mg1j8j3v3">create new account</a>
</form>
</div>
    <img src="images/python.jpeg" width="40%">
</body>
</html>